body
{
	background-image:url(Images/white_grey.jpg);
	text-align: center;
	margin-top:40px;
	font-family: 'Courier New', Courier, monospace;
}
#menu
{
	top: 0;
	position: fixed;
	width: 100%;
	height: 35px;
	/*#3e444c*/
	background-color: rgb(82, 91, 100);
	border-radius: 5px;
	border-bottom: 3px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/*menu list elements*/
#menu li 
{
	display:inline;
}
#menu li img
{
	width:15px;
	height:15px;
	border-radius: 10px;
}
/*menu buttons*/
#menu a
{
	text-decoration: none;
	color:#eaefef;
	display: inline-block;
	padding: 10px 25px;
	height:15px;
	border-radius: 5px;
	border-bottom: 5px soild white;

}
#menu a:hover
{
	background: rgba(255, 255, 255, 0.747);
	color:black;
}
/*limit size of all images*/

section{
	border:2px solid white;
	margin-bottom: 2px;	
}

#about
{
	background-image:url(Images/study_background.jpg);
	background-size: 100%;
	border-radius: 10px;
}

#photos
{
	background-image:url(Images/camra_background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin:0 auto;
	object-fit: cover;
}

.container
{
	margin-right: 100px;
	width: 1000px;
	min-height: 500px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container .box{
	width: 200px;
	height:150px;
	margin:5px;
	box-sizing: border-box;
	display: inline-block;
}

.container .box .imgBox {
	overflow: hidden;	
}

.container .box .imgBox img{
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.5s;
	border-radius: 10px;


}
.container .box:hover .imgBox img
{
	transform: scale(1.2);
}

#playlist{
	background-image:url(Images/music.jpg);
	background-size: 100%;
	border-radius: 10px;
}

#like{
	background-image:url(Images/like.jpg);
	background-size: 100%;
}


#contact{
	background-image:url(Images/contact.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#spa{
	background-image:url(Images/QnA.jpg);
	background-size: 100%;
}

h1{ color: white; font-family:'Open Sans Condensed', sans-serif;font-size: 46px; font-weight: 100;
	letter-spacing: 1px; text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

h2{
	font-size: bold;
	color:white;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


p{
	  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align: center; letter-spacing: 1px;font-family: Georgia, 'Times New Roman', Times, serif; color:whitesmoke;
}

.answer{
	background-color: white;
	color:black;
	text-align: left;
}



form{
	margin-left: 550px;
}

input{
	border-radius: 10px;
}

input[type=text]{
	border: 2px solid black;
	border-radius: 6px;
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	background-color: #F8F8FF;
}
input[type=text]:focus {
	background-color:white;
}

input[type=submit],input[type=reset]{
	padding: 10px 16px;
	background-color:whitesmoke;
	border: double black;
	cursor: pointer;
}

input[name=Subject]{
	width: 300px;
	height:90px;
}
